.first{
    text-align: center;
    color:crimson;
    font-size: 45px;
    text-shadow: 4px 5px rgb(241, 241, 45);
}

.button1{
    position:relative;
    box-shadow: 3px 3px 6px orangered;
    left: 500px;
    height: 55px;
    top: 50px;
    border-radius: 20px;
    color:deeppink;
    font-weight: bolder;
    background-color:pink;
    
}
.button2{
    position:relative;
    box-shadow: 3px 3px 6px orangered;
    width: 270px;
    left: 600px;
    height: 55px;
    top: 50px;
    border-radius: 20px;
    color:deeppink;
    font-weight: bolder;
    background-color:pink;
}